* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Nunito Sans", sans-serif;
  // overflow-x: hidden;
}
html,
body {
  // overflow-x: hidden;
  background-color: #f4f4f4;
  scroll-behavior: smooth;
}
a {
  color: #333333;
}
h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0em;
}
h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0em;
}
h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
}
p {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.04em;
}
.hamburger {
  margin-top: 20px;
}
.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #333333;
  margin: 5px;
  transition: 0.4s;
}
.container {
  max-width: 1366px;
  padding: 0 40px;
  margin: 0 auto;
}
nav {
  background: #ffffff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.16);
  height: 70px;
  overflow-x: hidden;
}
.navbar {
  display: flex;
  justify-content: space-between;
  h1 {
    font-weight: 700;
    font-size: 35px;
    line-height: 55px;
    color: #333333;
    margin-top: 10px;
    span {
      font-weight: 800;
      color: #d982aa;
    }
  }
  .nav_links {
    display: flex;
    justify-content: space-between;
    width: 48%;
    z-index: 10;
    li {
      display: flex;
      justify-content: space-between;
      width: 40%;
      .btn {
        display: flex;
        justify-content: space-around;
        width: 40%;
      }
      a {
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
        letter-spacing: 0em;
        color: rgba(44, 51, 58, 0.8);
        margin-top: 20px;
      }
      button {
        height: 45px;
        width: 90px;
        border-radius: 5px;
        margin-top: 10px;
        border: 1px solid #d982aa;
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        color: #ffffff;
        background-color: #d982aa;
        cursor: pointer;
      }
    }
  }
}
.ff_banner {
  background: url(../../asset/imgs/banner.png) no-repeat bottom center/cover;
  height: 509px;
}
.banner {
  text-align: center;
  padding-top: 60px;
  position: relative;
  h2 {
    font-size: 34px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    padding-top: 60px;
  }
  p {
    font-size: 14px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    padding-top: 30px;
    width: 95%;
    margin: 0 auto;
  }
  .overview {
    position: absolute;
    height: 215px;
    width: auto;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    top: 350px;
    border-radius: 2px;
    object-fit: cover;
  }
}

.ff_features {
  margin-top: 100px;
  text-align: center;
  h2 {
    margin-bottom: 50px;
  }
  .features {
    .ff_1 {
      text-align: center;
      width: 90%;
      margin: 50px auto;

      .w_img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 15px;
        background: rgba(196, 196, 196, 0.2);
        img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}

.cc_m {
  margin-top: 120px;
  .gutter_wrapper {
    .gutter {
      h2 {
        font-size: 30px;
      }
      p {
        margin-top: 20px;
        color: rgba(44, 51, 58, 0.8);
      }
    }
    img {
      width: 317.38px;
      object-fit: cover;
      height: 200px;
      position: relative;
      left: 22px;
      margin: 30px auto;
      // margin-top: 30px;
    }
  }
}

img {
  width: 100%;
}

.cards {
  background-color: #ffffff;
  border-radius: 5px;
  margin: 30px 0;
  img {
    object-fit: cover;
  }
  .card_content {
    padding: 22px 15px;
    h5 {
      // font-family: Nunito;
      font-size: 20px;
      // font-style: normal;
      font-weight: 700;
      line-height: 26px;
      letter-spacing: 0em;
      text-align: left;
    }
    p {
      font-size: 16px;

      font-weight: 600;
      line-height: 20px;
      letter-spacing: 0.02em;
      text-align: left;
      margin-top: 17px;
    }
    .dts {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      h6 {
        // font-family: Nunito;
        font-size: 12px;
        // font-style: normal;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #333333;
        position: relative;
      }
    }
  }
}

.date {
  margin-left: 20px;
  &::before {
    content: url("../../asset/imgs/ic_round-date-range.svg");
    // margin-right: 5px;
    position: absolute;
    // bottom: -5px;
    left: -24px;
    top: -4px;
  }
}

.location {
  &::before {
    content: url("../../asset/imgs/bytesize_location.svg");
    // margin-right: 5px;
    position: absolute;
    // bottom: -5px;
    left: -22px;
    top: -4px;
  }
}

.seats {
  &::before {
    content: url("../../asset/imgs/icomoon-free_ticket.svg");
    // margin-right: 5px;
    position: absolute;
    // bottom: -5px;
    left: -25px;
    top: -4px;
  }
}

.recommed {
  margin-top: 50px;
  .show_more {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    h4 {
      font-size: 18px;
    }
    button {
      background-color: transparent;
      border: 0;
      font-size: 14px;
      font-weight: 600;
      line-height: 19px;
      letter-spacing: 0.02em;
      cursor: pointer;
      color: rgba(44, 51, 58, 0.8);
      text-decoration: underline;
    }
  }
}

.ff_download {
  margin-top: 50px;
  .download_wrap {
    .download {
      h3 {
        // font-family: Nunito;
        font-size: 25px;
        margin-bottom: 20px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
      }
      p {
        line-height: 22px;

        letter-spacing: 0.02em;

        color: rgba(44, 51, 58, 0.8);
      }
    }
  }
}

.owl-dots {
  margin-top: 10px;
  text-align: center;
}
.owl-dot {
  width: 10px;
  height: 10px;
  margin: 0 10px;
  outline: 0;
  border-radius: 50%;
  background: rgba(51, 44, 44, 0.1) !important;
  cursor: pointer;
  transition: all 0.3s ease;
}
.owl-dot:hover,
.owl-dot.active {
  background: #ffffff !important;
}
.dots_button {
  position: absolute;
  bottom: 0;
  right: 30%;
  display: flex;
  justify-content: center;
}
.owl-carousel .owl-item img {
  width: auto !important;
  display: inline !important;
}
.owl-nav {
  position: absolute;
  left: 33%;
  margin-top: 30px;
}

.owl-nav .owl-next:hover .c_change path,
.owl-nav .owl-prev:hover .c_change path {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  fill: var(--color-white) !important;
}
.nextIcon:hover,
.nextIcon:active,
.prevIcon:hover,
.prevIcon:active {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 3px solid var(--color-white) !important;
  background-color: var(--color-purple) !important;
}
.prevIcon {
  /* background-color: var(--color-purple); */
  border: 3px solid var(--black);
  width: 55px;
  height: 55px;
  transition: 0.3s ease;
  padding: 10px;
  margin-right: 25px;
  border-radius: 50%;
}
.nextIcon {
  /* background-color: var(--color-purple); */
  border: 3px solid var(--black);
  width: 55px;
  height: 55px;
  transition: 0.3s ease;
  padding: 10px;
  margin-right: 25px;
  border-radius: 50%;
}
.d_pic {
  // position: relative;
  margin: 30px auto;
  display: flex;
  width: 80%;
  img {
    // position: absolute;
    z-index: 4;
    object-fit: cover;
  }

  .dd {
    width: 78px;
    height: 90px;
    z-index: 10;
  }
  .tt {
    width: 218px;
    height: 200px;
  }
}

.round {
  background: url(../../asset/imgs/section_lap.png) no-repeat top center/cover;
  height: 850px;
  margin-top: 100px;
  h2 {
    padding-top: 300px;
    max-width: 460px;
    // font-family: Nunito;
    font-size: 30px;
    // font-style: normal;
    font-weight: 700;
    color: #ffffff;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
  }
  .round_content {
    margin: 30px auto;
    width: 100%;
    // max-width: 1366px;
    .card {
      background-color: #ffffff;
      border-radius: 5px;
      padding: 25px;
      width: 100%;
      clear: both;
      min-height: 278px;
      margin-bottom: 30px;
      position: relative;
      .abss {
        position: absolute;
        right: 20px;
        // margin-top: 20px;
        bottom: 20px;
      }
      .abs {
        position: absolute;
        right: 20px;
      }
      p {
        // font-family: Nunito;
        font-size: 14px;
        // font-style: normal;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0.01em;
        text-align: left;
        margin: 10px 0;
      }
      .quote {
        width: 20px;
        height: 20px;
        object-fit: cover;
      }
      .name {
        margin-top: 30px;
        display: flex;

        .main_name {
          margin-right: 10px;
          h3 {
            // font-family: Nunito;
            font-size: 20px;
            // font-style: normal;
            font-weight: 600;
            line-height: 27px;
            letter-spacing: 0.02em;
            text-align: right;
          }
          p {
            margin: 0;
            font-size: 14px;
            // font-style: normal;
            font-weight: 500;
          }
        }
        img {
          width: 45px;
          height: 45px;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }
  }
}

footer {
  height: auto;
  background-color: #ffffff;
  box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.16);
  padding-top: 30px;
  padding-bottom: 20px;
  .folic {
    .first_folic {
      h1 {
        font-size: 40px;
        font-weight: 700;
        margin-top: 20px;
        line-height: 55px;
        letter-spacing: 0em;
        text-align: left;
        color: #333333;
        span {
          font-size: 40px;
          font-weight: 800;
          color: #d982aa;
          line-height: 55px;
          letter-spacing: 0em;
          text-align: left;
        }
      }
      p {
        margin-bottom: 30px;
      }
    }
  }
  .cage {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.025em;
    text-align: left;
    margin-bottom: 10px;
  }
  ul {
    margin-bottom: 40px;
    li {
      font-size: 16px;
      margin-bottom: 10px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.025em;
      text-align: left;
    }
  }
}

@media (min-width: 890px) {
  .navbar .nav_links {
    width: 30%;
  }
  .card_wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .cards {
      width: 33%;
    }
  }
  .ff_download .download_wrap .download h3 {
    font-size: 30px;
    line-height: 41px;
  }
}

@media (min-width: 668px) {
  .cc_m {
    .gutter_wrapper {
      display: flex;
      justify-content: space-between;
      .gutter {
        width: 45%;
      }
    }
  }
  .fill_form {
    width: 80%;
    margin: 0 auto;
    padding: 50px;
  }
  .form1 {
    display: flex;
    justify-content: space-between;
    label {
      width: 50%;
    }
  }
  .card_wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .cards {
      width: 48%;
    }
  }
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
  .ff_details .ff_location {
    width: 50%;
  }
  .round {
    position: relative;
    margin-top: -80px;
  }
  .d_pic {
    margin-right: 30px;
    width: 40%;
    .tt {
      width: 300px;
      height: 259px;
    }
    .dd {
      position: relative;
      top: 120px;
      right: -50px;
      width: 120px;
      height: 157px;
    }
  }
  .folic_wrap {
    width: 70%;
    display: flex;
    justify-content: space-between;
    .first_folic {
      width: 33%;
      h1 {
        margin: 0;
      }
    }
    ul {
      margin-top: 20px;
    }
  }
  .c_r {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    flex-direction: row-reverse;
    .footer_pic {
      display: flex;
      justify-content: space-between;
      width: 25%;
      img {
        width: 30px;
        height: 30px;
      }
    }
    p {
      margin: 0;
      margin-top: 5px;
      font-size: 16px;
    }
  }
  .download_wrap {
    display: flex;
    justify-content: space-between;
    .download {
      width: 50%;
    }
  }
  .cc_m .gutter_wrapper img {
    height: 270px;
    width: 395px;
    top: -40px;
  }
  .ff_features {
    margin-top: 300px;
    .features {
      display: flex;
      justify-content: space-between;
      .ff_1 {
        width: 30%;
      }
    }
  }
  .banner {
    width: 80%;
    margin: 0 auto;
    h2 {
      font-size: 45px;
    }
    p {
      font-size: 16px;
      width: 80%;
    }
    .overview {
      width: 530px;
      height: 371px;
      top: 400px;
    }
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 25px;
  }
  .round {
    height: 710px;
    h2 {
      padding-top: 154px;
    }
  }
  .c_r {
    p {
      text-align: center;
      margin: 20px auto;
    }
  }
  .footer_pic {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
    img {
      width: 30px;
      height: 30px;
      object-fit: cover;
    }
  }
  .container {
    padding: 0 20px;
  }
  .nav_links {
    position: absolute;
    background-color: #ffffff;
    width: 30%;
    flex-direction: column;
    text-align: center;
    top: 70px;
    padding: 20px;
    right: 0;

    transform: translateX(768px);
    box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.16);
  }
  .nav_links.activate {
    transform: translateX(0px);
  }
  .navbar .nav_links li {
    flex-direction: column;
    margin-top: 5px;
    opacity: 0;
  }
  .navbar .nav_links li a {
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .banner {
    width: 70%;
    .overview {
      width: 610px;
      height: 420px;
    }
  }
  .first_wrap {
    width: 50%;
  }
  .cc_m .gutter_wrapper img {
    height: 320px;
    width: 510px;
    top: -70px;
  }
  .ff_features {
    margin-top: 350px;
  }
  .card_wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .cards {
      width: 24.5%;
    }
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0.2;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
  transition: 0.2s;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
