@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #f4f4f4;
  width: 100%;
  margin: auto;
}

/* header */
.yourpass {
  display: flex;
  justify-content: space-between;
}

span {
  color: #bc658d;
}

nav {
  background-color: #ffffff;
  width: 100%;
  padding: 15px 25px;
}

h1 {
  display: inline-block;
  margin: 0px 0px 10px -10px;
}

.ham{
  height: 30px;
  width: 30px;
  margin: 0px -10px 10px 0px;
}
/* Nav ends */

/* Our events */
.ourevents {
  height: 360px;
  width: 100%;
  color: white;
  /* background-image: url(images/unsplash_uf2nnANWa8Q.png); */
  background: #727272;
  position: relative;
}

.ourevents h2 {
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: 30px;
  margin: 100px auto 90px;
}

.ourevents p {
  position: absolute;
  text-align: center;
  width: 100%;
  font-weight: thin;
  font-size: 15px;
  margin: 150px 0px 0px;
}

.lagos {
  position: absolute;
  height: 35px;
  width: 100px;
  background-color: white;
  color: black;
  margin-top: 310px;
  margin-left: 50px;
  border-radius: 3px;
  border: none;
}

.drop_down {
  position: absolute;
  height: 4px;
  width: 6px;
  margin-top: 325px;
  margin-left: 120px;
}

.lagos p {
  font-size: 13px;
  margin: 9px 0px 0px -5px;
}
/* Our events end */
/* header ends */

/* Main1 */
.main1 {
  margin-top: 1em;
}

.rec {
  font-weight: bold;
  margin-left: 5%;
  margin-top: 2em;
}

.box {
  height: 360px;
  width: 90%;
  align-self: center;
  margin: 25px auto 0px;
  box-shadow: 0px 0px 2px rgba(0 0 0 /0.2);
  border-radius: 5px 5px 0px 0px;
  background-color: #ffffff;
}

.box img {
  height: 150px;
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}

.box p {
  margin-left: 20px;
}

.box p:nth-child(2) {
  font-weight: bold;
}

.dls {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 10px 0px 0px 0px;
}

.date {
  display: flex;
}

.dls .date img {
  height: 18px;
  width: 18px;
}

.dls .date p {
  font-size: 10px;
  margin-left: 3px;
  margin-top: 3px;
}

.location {
  display: flex;
}

.dls .location img {
  height: 18px;
  width: 18px;
}

.dls .location p {
  font-size: 10px;
  margin-left: 3px;
  margin-top: 3px;
}

.seats {
  display: flex;
}

.dls .seats img {
  height: 18px;
  width: 18px;
}

.dls .seats p {
  font-size: 10px;
  margin-left: 3px;
  margin-top: 3px;
}
/* Main1 end */

/* Main2 */
.main2 {
  margin-top: 1em;
}

.upcoming {
  font-weight: bold;
  margin-left: 5%;
  margin-top: 2em;
}

.icons_numbers {
  margin-top: 5em;
  font-size: 10px;
  display: flex;
  justify-content: space-evenly;
}

.fdash {
  background-color: #d982aa;
  height: 25px;
  width: 25px;
  border-radius: 3px;
  padding: 6px;
}
/* Main2 ends */


.numbers{
  margin-top: -6px;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.one_line .one {
  font-weight: bold;
}

.line {
  height: 2px;
  width: 17px;
  border-radius: 5px;
  margin-top: -8px;
  margin-left: -5px;
  background-color: #d982aa;
}

.dots {
  display: flex;
  justify-content: space-evenly;
  margin-top: -2px;
  font-size: bold;
}

.dots p {
  margin-left: 2px;
}

.sdash {
  background-color: #d982aa;
  height: 25px;
  width: 25px;
  border-radius: 3px;
  padding: 6px;
  transform: rotate(180deg);
}

.end {
  width: 100%;
  margin: 4em 0em 0em;
  padding: 3em 1em 0em;
  background: #ffffff;
}

.end .last1 p {
  margin-top: -0.9em;
  font-weight: lighter;
  font-size: 13px;
}

.last h3{
  font-size: 15px;
}

.last2{
  margin-top: 2em;
}


.last2 p {
  font-size: 11px;
  margin-top: -5px;
}

.hr1 {
  background: #bc658d;
  opacity: 30%;
  margin-top: 1.2em;
}

.last3 {
  margin-top: 0.8em;
}

.last3 p {
  font-size: 11px;
  margin-top: -15px;
}

.last4 {
  margin-top: 2.5em;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-self: center;
}

.licon {
  height: 0.9em;
  width: 0.9em;
  margin: 0.8em;
}

.last5 {
  display: flex;
  justify-content: space-evenly;
  margin: 0.8em auto 1em;
}

.cicon {
  margin-left: -10px;
}

.line2 {
  height: 13px;
  width: 1.6px;
  background: black;
  margin-top: 15px;
  margin-left: -25px;
  border-radius: 5px;
}

.last5 p {
  font-size: 13px;
}

.pp {
  margin-top: 13px;
  margin-left: -30px;
}

.lp {
  margin-top: 13px;
  margin-left: -23px;
}

@media screen and (max-width: 767.9px) {
  .menu{
    height: 100vh;
    width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    background-color: white;
    z-index: 999;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;
  }

  ul{
    list-style-type: none;
    margin-top: 3em;
  }

  li{
    padding: 3em;
    text-align: center;
  }

  li:hover{
    background: #dadada;
  }

  .close{
    width: 1.8em;
    height: 1.8em;
    float: right;
    right: 0;
    margin-top: 1em;
    margin-right: .8em;
  }

  .open-nav{
    transform: translateX(0%);
  }

  .a{
    padding: 5px 0px;
    height: 35px;
    width: 70px;
    border: 2px solid #808080;
    background-color: white;
    border-radius: 5px;
  }

  .b{
    padding: 5px 0px;
    height: 35px;
    width: 70px;
    border: none;
    background-color: #d982aa;
    border-radius: 5px;
    color: white;
  }

  .hr2{
    display: none;
  }

  .firstb, .lastb{
    display: none;
  }

  .x{
    display: none;
  }
}

@media screen and (min-width: 768px){
/* Header */
 .rec{
  margin-left: 2%;
 }

.upcoming{
  margin-left: 2%;
}

.ham{
  display: none;
}

.close{
  display: none;
}

  nav {
    display: flex;
    justify-content: space-between;
  }

  ul {
    list-style: none;
    margin-top: 0px;
  }

  ul li {
    display: inline-block;
    padding: 0px 20px;
    color: black;
  }

  .a {
    padding: 5px 0px;
    height: 35px;
    width: 70px;
    border: 2px solid #808080;
    background-color: white;
    border-radius: 5px;
  }

  .b {
    padding: 5px 0px;
    height: 35px;
    width: 70px;
    border: none;
    background-color: #d982aa;
    border-radius: 5px;
    color: white;
  }
  /* Header ends */

  /* First */
  .ourevents {
    margin-top: -1em;
  }

  .ourevents h2 {
    margin-top: 5em;
  }

.ourevents .look{
  margin-top: 13em;
  width: 72%;
  margin-left: 14%;
  margin-right: 14%;
}

.lagos{
  position: absolute;
  height: 35px;
  width: 100px;
  background-color: white;
  color: black;
  margin-top: 300px;
  margin-left: 250px;
  border-radius: 3px;
  border: none;
}

.drop_down{
  position: absolute;
  height: 4px;
  width: 6px;
  margin-top: 316px;
  margin-left: 320px;
}
/* First ends */

  .main1 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: -1em;
  }

  .main2 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: -1em;
  }

  /* Icons and numbers  */
  .firstb,
  .lastb {
    width: 40px;
    height: 25px;
    background: white;
    border-radius: 3px;
    box-shadow: 0px 3px 5px rgba(0 0 0 /0.05);
  }

 .firstb p{
   text-align: center;
   margin-top: 7px;
}

 .lastb p{
   text-align: center;
   margin-top: 7px;
}
/* Icons and numbers end */
.last{
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
}

  .last1 p {
    width: 60%;
  }

.last2{
  margin-left: -100px;
  margin-top: 10px;
}

.last2 p{
  font-size: 11px;
  margin-top: -5px;
}

  .hr1 {
    display: none;
  }

.hr2{
  background: #bc658d;
  opacity: 30%;
  margin-top: 1.2em;
}

}
