@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body{
  background-color: #f4f4f4;
}

.yourpass{
  display: flex;
  justify-content: space-between;
}

nav{
  background-color: #ffffff;
  width: 100%;
  padding: 15px;
}

h1{
  display: inline-block;
  margin: 0px 0px 10px -10px;
}

.p{
  color: #d982aa;
  margin-left: 0px;
}

.why{
  height: 30px;
  width: 30px;
  background-color: green;
  margin: 0px -10px 10px 0px;
}

.ourevents{
  height: 360px;
  width: 100%;
  background-image: url(images/attendee.svg);
  color: white;
  margin-top: 0px;
  /* position: relative; */
  text-align: center;
}

h2{
  text-align: center;
  font-size: 25px;
  margin: 100px 120px 70px 140px;
  /* position: absolute; */
}

.ourevents p{
  text-align: center;
  width: 70%;
  font-weight: thin;
  font-size: 15px;
  margin: 150px 0px 70px 65px;
  /* position: absolute; */
}

.lagos{
  /* position: absolute; */
  height: 35px;
  width: 100px;
  background-color: white;
  color: black;
  bottom: 30px;
  right: 10px;
  border-radius: 3px;
}

.drop_down{
  height: 4px;
  width: 6px;
  margin: 15px 0px 0px 70px;
}

.lagos p{
  font-size: 13px;
  margin: 9px 0px 0px 7px;
}
